@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #444; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
::-webkit-scrollbar-button{
  background: #181818; 
}

.s-hidden{
  display:none;
}

.star-n .bi-star-in{
  visibility:hidden;
}

.star-y .bi-star-in{
  visibility:visible;
}

.f-enable{
  border-radius: 5px;
  background-color: black;
}