{% extends 'base.html' %} {% block title %} Main {% endblock %} {% block content
%}
<div
  class="bg-neutral-50 py-9 px-6 text-center bg-cover"
  style="background-image: url('{{ url_for('static',filename='assets/images/background.jpg') }}')"
>
  <h1
    class="mt-2 mb-16 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl bg-slate-200 p-10"
  >
    Genshin <br /><span class="text-primary">Tools</span>
  </h1>
  {% if not session.loggedin: %}
  <a
    class="inline-block rounded px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-primary-200 transition duration-150 ease-in-out hover:bg-neutral-500 hover:bg-opacity-100 hover:text-primary-300 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 bg-slate-600"
    data-te-ripple-init
    data-te-ripple-color="light"
    href="{{ url_for('register') }}"
    role="button"
    >Register now!</a
  >
  {% endif %}
  <a
    class="inline-block rounded px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-primary-200 transition duration-150 ease-in-out hover:bg-neutral-500 hover:bg-opacity-100 hover:text-primary-300 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 bg-slate-600"
    data-te-ripple-init
    data-te-ripple-color="light"
    href="#more"
    role="button"
    >Learn more</a
  >
</div>
<div class="container my-24 mx-auto md:px-6" id="more">
  <section class="mb-32 text-center">
    <h2 class="mb-16 text-3xl font-bold">
      This website save <u class="text-cyan-500">the day</u>
    </h2>
    <div class="grid gap-x-6 md:grid-cols-3 lg:gap-x-12">
      <div class="mb-12 md:mb-0">
        <div
          class="mb-6 inline-block rounded-md bg-primary-100 p-4 text-primary"
        >
          <img
            src="{{ url_for('static',filename='assets/images/Place_1.png') }}"
            alt=""
            class="h-10 w-10 object-fill"
          />
        </div>
        <h5 class="mb-4 text-lg font-bold">Easy to manage</h5>
        <p class="text-neutral-500 dark:text-neutral-300">
          From characters to weapons, everything you need are all here.
        </p>
      </div>

      <div class="mb-12 md:mb-0">
        <div
          class="mb-6 inline-block rounded-md bg-primary-100 p-4 text-primary"
        >
          <img
            src="{{ url_for('static',filename='assets/images/Place_2.png') }}"
            alt=""
            class="h-10 w-10 object-fill"
          />
        </div>
        <h5 class="mb-4 text-lg font-bold">Keep up to date</h5>
        <p class="text-neutral-500 dark:text-neutral-300">
          New contents, we can serve you in an instant.
        </p>
      </div>

      <div class="mb-12 md:mb-0">
        <div
          class="mb-6 inline-block rounded-md bg-primary-100 p-4 text-primary"
        >
          <img
            src="{{ url_for('static',filename='assets/images/Place_3.png') }}"
            alt=""
            class="h-10 w-10 object-fill"
          />
        </div>
        <h5 class="mb-4 text-lg font-bold">Personalize</h5>
        <p class="text-neutral-500 dark:text-neutral-300">
          You can feel like being as home, do whatever you want.
        </p>
      </div>
    </div>
  </section>
</div>
<div
  class="container my-10 mx-auto md:px-6 bg-slate-500 text-slate-50 w-5/6 p-10 rounded-sm"
>
  <section class="mb-2">
    <div class="grid gap-4 md:grid-cols-2 p-7">
      <div class="mb-6 md:mb-0">
        <h2 class="mb-6 text-3xl font-bold">Frequently asked questions</h2>
      </div>

      <div class="mb-6 md:mb-0">
        <p class="mb-4 font-bold">What is the purpose of this website?</p>
        <p class="mb-12 text-neutral-100">
          This website provides some useful tools for Genshin Impact, video game
          made by miHoYo Co., Ltd.
        </p>

        <p class="mb-4 font-bold">Copyright related?</p>
        <p class="mb-12 text-neutral-100">
          All information and media contents were gotten from the internet,
          especially from Fandom Wikia and Genshin API. I have no affiliation
          with miHoYo Co., Ltd or any company.
          <br /><br />Credits:<br />
          <a href="https://github.com/genshindev/api"
            >https://github.com/genshindev/api</a
          ><br /><a href="https://genshin-impact.fandom.com"
            >https://genshin-impact.fandom.com</a
          >
        </p>

        <p class="mb-4 font-bold">Are there any paying?</p>
        <p class="mb-12 text-neutral-100">
          Of course, NO!!! I will ensure that there won't be any cost you must
          pay.
        </p>
      </div>
    </div>
  </section>
</div>
{% endblock %}
