<header
  class="z-10 header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-2"
>
  <!-- logo -->
  <h1 class="w-3/12">
    <a href="/" class="flex items-center">
      <img
        src="{{ url_for('static',filename='assets/images/icon.png') }}"
        class="h-8 mr-3"
        alt="Icon"
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >Genshin Tools</span
      >
    </a>
  </h1>

  <!-- navigation -->
  <nav class="nav font-semibold text-lg">
    <ul class="flex items-center">
      <li
        class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer active"
      >
        <a href="/">Home</a>
      </li>
      <li
        class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer"
      >
        <a href="/characters">Characters</a>
      </li>
    </ul>
  </nav>

  <!-- buttons --->
  <div class="w-3/12 flex justify-end">
    <button
      type="button"
      data-te-sidenav-toggle-ref
      data-te-target="#sidenav"
      aria-controls="#sidenav"
      aria-haspopup="true"
    >
      <svg
        class="h-8 hover:text-green-500 duration-200"
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="presentation"
        focusable="false"
        style="
          display: block;
          fill: none;
          height: 32px;
          width: 32px;
          stroke: currentcolor;
          stroke-width: 3;
          overflow: visible;
        "
      >
        <g fill="none" fill-rule="nonzero">
          <path d="m2 16h28"></path>
          <path d="m2 24h28"></path>
          <path d="m2 8h28"></path>
        </g>
      </svg>
    </button>
  </div>
</header>
