<nav
  id="sidenav"
  class="pt-10 fixed right-0 top-0 z-[1035] h-screen !w-1/3 translate-x-full overflow-hidden bg-white shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] data-[te-sidenav-hidden='false']:-translate-x-0 dark:bg-zinc-800"
  data-te-sidenav-init
  data-te-sidenav-hidden="true"
  data-te-sidenav-right="true"
>
  <ul class="relative m-0 list-none px-[0.2rem]" data-te-sidenav-menu-ref>
    <li class="relative mb-10">
      <div class="text-center">
        {% if session.username is defined: %}
        <h5 class="mb-2 text-xl font-medium leading-tight">
          {{ session.username }}
        </h5>
        <br />
        <a href="{{ url_for('logout')}}"
          ><button
            type="button"
            data-te-ripple-init
            data-te-ripple-color="light"
            class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal bg-slate-400 text-white transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700"
          >
            Logout
          </button></a
        >
        {% else %}
        <a href="/login">
          <button
            type="button"
            data-te-ripple-init
            data-te-ripple-color="light"
            class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal bg-slate-400 text-white transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700"
          >
            Login
          </button>
        </a>
        {% endif %}
      </div>
    </li>
  </ul>
</nav>
