{% extends 'base.html' %} {% block title %} Verify Mail {% endblock %} {% block
content %}
<div align="center" class="">
  <div align="center" class="border">
    <div class="header">
      <h1>Verify</h1>
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
        <form action="{{ url_for('mail_verify') }}" method="post">
          <div class="relative mb-3 text-left font-bold">
            <p class="text-xs">
              Verification code will be expired in 10 minutes, please check your
              email (Make sure to look at the Spam folder)
            </p>
            <p>Username: {{user}}</p>
            <p>Email: {{mail}}</p>
          </div>
          <div class="relative mb-6" data-te-input-wrapper-init>
            <input
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="code"
              name="code"
              type="text"
              placeholder="Enter Verify Code"
              data-te-input-state-active
            />
            <label
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
              >Verify code
            </label>
          </div>

          <!-- Login button -->
          <div class="text-center">
            <button
              type="submit"
              value="Verify"
              class="inline-block rounded bg-primary px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              Verify
            </button>

            <!-- Register link -->
            <p class="mb-0 mt-2 pt-1 text-sm font-semibold">
              Didn't receive any code?
              {% if onCooldown: %}
                <p>Please wait 10 minutes, then refresh this page and resend</p>
              {% else %}
              <a
                href="{{ url_for('send_code') }}"
                class="text-danger transition duration-150 ease-in-out hover:text-danger-600 focus:text-danger-600 active:text-danger-700"
                method="post"
                >Resend</a
              >
              {% endif %}
            </p>
            <a href="{{ url_for('logout')}}" class="btn">Logout</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
