{% block body %}
<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
  id="side_{{ session['items'][o].id }}_modal"
  tabindex="-1"
  aria-labelledby="side_{{ session['items'][o].id }}_modal_label"
  aria-hidden="true"
>
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none relative h-[calc(100%-1rem)] w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]"
  >
    <div
      class="pointer-events-auto relative flex max-h-[100%] w-full flex-col overflow-hidden rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
    >
      <div
        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
      >
        <h5
          class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
          id="side_{{ session['items'][o].id }}_modal_label"
        >
          {{ session['items'][o].name }}
        </h5>
      </div>
      <div
        class="relative overflow-y-auto p-4 text-black self-center mb-10 w-[90%] flex flex-col"
      >
        <img src=" {% if session['items'][o].img=="exp" %} {{
        url_for('static',filename='assets/images/EXP.png') }} {% else %} {% if
        session['items'][o].img=="mora" %} {{
        url_for('static',filename='assets/images/Mora.png') }} {% else %} {{
        session['items'][o].img }} {% endif %} {% endif %}" class="w-1/2
        rounded-lg shadow-lg p-2 bg-slate-500 self-center" alt="{{
        session['items'][o].id }}" />
        <div class="text-left quantity mt-10 mb-4">
          <p class="font-bold inline">Own:</p>
          <p class="inline ml-1">
            {{ "{:,.2f}".format(session['quantity'][o]).replace(".00","") }}
          </p>
        </div>
        <div class="p-3 self-center">
          <div class="relative mb-3 inline-block" data-te-input-wrapper-init>
            <input
              type="number"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="side_{{ session['items'][o].id }}_quantity_number"
              placeholder="Quantity"
            />
            <label
              for="side_{{ session['items'][o].id }}_quantity_number"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
              >Inventory Quantity
            </label>
          </div>
          <button
            type="button"
            onclick="set_mat(`{{ session['items'][o].id }}`,`side_{{ session['items'][o].id }}_quantity_number`)"
            class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
          >
            Set
          </button>
        </div>
        <div class="mb-4 text-left">
          <p class="font-bold">Desciption:</p>
          <p>{{ session['items'][o].desciption }}</p>
        </div>
        <div class="text-left">
          <p class="font-bold">Source:</p>
          <ul>
            {% for n in session['items'][o].source %}
            <li>{{ n }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
